
html {
    scroll-behavior: smooth;
}


body{
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif ;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}



/* navbar design  */
.navbar-mobile{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 67px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}
.logo-image{
    width: 40px;
    height: 40px;
}

.navbarButton img{
    width: 30px;
    height: 30px;
}

.navbarButton{
    background-color: black;
    border: 2px solid #7A87FB;
    border-radius: 50px;
    cursor: pointer;
}

.navigationLinks{
    margin-top: 66.44px;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    position: relative;
}


/* body styles  */

.hero{
    margin-top: 68px;
    height: 620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('./Assets/Images/design-box5.svg');
    background-size: cover;
    background-position: center;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
}

#myName{
    color: white;
    font-style: italic;
    font-weight: 100;
}

#ayomikun{
    color: #FFD49C;
    font-style: normal;
    font-weight: 400;
}

.AboutMe{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.653px;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}

.aboutMe1{
    margin: 0;
    width: 320px;
    height: auto;
    text-align: center;
    font-family: 'poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

#for, #youShould{
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

.contactMeBtn{
    color: black;
    font-size: 16px;
    display: flex;
    padding: 5.451px 15.264px;
    justify-content: center;
    align-items: center;
    border-radius: 30.299px;
    border: 0.818px transparent ;
    background: linear-gradient(90deg, #7A87FB 0%, #FFD49C 100%);
}

#mySkills a{
    color: #7A87FB;
    text-decoration: underline;
}


/* second section styles  */

#section2{
    margin-top: 30px;
    scroll-margin-top: 68px;
}

.hero2{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}

.stacksHeader{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.stacksImages {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.html, .css, .javascript, .git, .react, .firebase, 
.framerMotion, .tailwind, .sass, .supabase {
    font-size: 12px;
    background-color: #7a87fb28;
    width: 100px;
    height: 120px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stacksImages img{
    width: auto;
    height: 80px;
}

#curious{
    color: #FFD49C;
    font-size: 16px;
    text-align: left;
    text-decoration: underline;
}


/* section 3  */


.projects{
    margin-top: 100px;
    scroll-margin-top: 68px;
    font-family: 'poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.featuredHeader{
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}

.featuredImages{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featuredImages img {
    width: 329px;
    height: 316px;
}

.firstProject{
    border-radius: 5.212px;
    background: #f1eeee1f;
    display: flex;
    width: 329px;
    padding: 31.853px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

#projectHeader{
    margin: 0px;
    font-size: 26px;
    color: #7A87FB;
}

#projectInfo{
    margin-top: -20px;
    font-size: 16px;
    text-align: left;
}

#projectInfo a{
    color: #FFD49C;
    text-decoration: underline;
}
