
body{
    background-color: black;
    color: white;
    font-family: 'poppins', sans-serif ;
    /* margin: 0; */
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}



/* navbar design  */
.navbar-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-image{
    width: 40px;
    height: 40px;
}

.navbarButton img{
    width: 30px;
    height: 30px;
}

.navbarButton{
    background-color: black;
    border: 2px solid #7A87FB;
    border-radius: 50px;
    cursor: pointer;
}

.navigationLinks{
    display: none;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}


/* body styles  */

.hero{
    height: 620px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('./Assets/Images/design-box5.svg');
    background-size: cover;
    background-position: center;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
}


.AboutMe{
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.653px;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}

.aboutMe1{
    margin: 0;
    width: 320px;
    height: auto;
    text-align: center;
    font-family: 'poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}


.hireMeBtn{
    color: black;
    font-size: 16px;
    display: flex;
    padding: 5.451px 15.264px;
    justify-content: center;
    align-items: center;
    border-radius: 30.299px;
    border: 0.818px transparent ;
    background: linear-gradient(90deg, #7A87FB 0%, #FFD49C 100%);
}


/* second section styles  */

.hero2{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: transparent;
    background-image: linear-gradient(to right, #7A87FB, #FFD49C);
    background-clip: text;
}

.stacksHeader{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}

.stacksImages {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.html, .css, .javascript, .git, .react, .firebase, 
.framerMotion, .tailwind, .sass, .supabase {
    font-size: 12px;
    background-color: #7a87fb28;
    width: 100px;
    height: 120px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stacksImages img{
    width: auto;
    height: 80px;

}